button {
    width: 300px;
    height: 50px;
    background: #ff926a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    color: #303033;
}

button:hover {
    background: #ffb59a;
}

#example-id:hover .button-text {  /* .button-text:hover */
    color: #6a00ff;
}

#example-id-2:hover .button-text {
    color: #ff006a;
}

button:hover .button-text {
    color: #00ff8c;
}