/* Div */

div {
  display: flex;
  justify-content: start;
  align-items: start;
}

/* Button */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: #5bcd96;
}

button:hover {
  background-color: #3b926f;
}

button:focus {
  background-color: #efd267;
}

.button-text {
  font-size: 15px;
  color: #303033;;
}

.button-text:hover {
  color: #be347b;
}

.button-text:focus {
  color: #303033;
}

/* Input */