div {
    box-sizing: border-box;
}

button {
    width: 150px;
    height: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: none;
    outline: none;
    background: rgb(97, 149, 200);
}

button:hover {
    background: rgb(78, 123, 159);
}