/* Button */

button {
    background: #bcbcbc;
    width: 140px;
    height: 45px;
    border-radius: 6px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background: #a9a9a9;
}

button .button-text {
    color: #303039;
}

/* CheckBox */

checkbox {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

checkbox .mark-box {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 2px white;
}

checkbox .mark-box .mark {
    color: #ffffff;
    width: 16px;
    height: 16px;
}

checkbox:checked .mark-box {
    border-color: #a163f9;
    background: #a163f9;
}

checkbox .check-text {
    font-size: 13px;
}

/* Divider */

divider {
    background: #d4d4f3;
    margin: 5px;
}

.divider-vert {
    width: 1px;
    height: 25px;
}

.divider-hori {
    width: 25px;
    height: 1px;
}

/* Fieldset */

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    background: #a163f9;
    min-height: 50px;
    min-width: 200px;
    gap: 5px;
}

/* Image */
img {
    width: 100%;
    height: 100%;
}

/* Headline */

h1 {
    font-size: 48px;
    font-weight: 600;
    color: #000000;
    margin: 16px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin: 16px;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    margin: 16px;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    margin: 16px;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin: 16px;
}

h6 {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin: 16px;
}

/* Input Fields */

input {
    width: 350px;
    height: 55px;
    border-radius: 5px;
    border: 2px white;
}

input:hover {
    border-color: #a163f9;
}

input:focus {
    border-color: #a163f9;
}

input .input-label {
    position: absolute;
    left: 10px;
    top: 19px;
    font-size: 14px;
}

input .in-icon-container {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-icon-container .in-icon {
    font-size: 16px;
}

input .in-text-container {
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left: 10px;
}

input:hover .input-label {
    color: #a163f9;
}

input:focus .input-label {
    color: #a163f9;
}

input .in-text-container .input-text {
    font-size: 15px;
    width: 100%;
    text-wrap: nowrap;
}

input .in-text-container .input-cursor {
    width: 2px;
    height: 20px;
    background: white;
}

/* Paragraph */
p {
    margin: 8px;
    font-size: 12px;
    color: #000000;
}

/* Radio Button */

radio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    min-width: 100px;
    min-height: 50px;
}

radio .radio-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px #323436;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

radio .radio-dot .checked-dot {
    width: 17px;
    height: 17px;
    background: #6a00ff;
    border-radius: 50%;
}

radio .radio-text {
    font-size: 13px;
    color: #323436;
}

/* Select */

select {
    width: 350px;
    height: 55px;
    border-radius: 5px 0;
    border: 2px #d4d4f3;
    color: #d4d4f3;
    z-index: 1;
}

select:hover {
    border-color: #a163f9;
}

select:focus {
    border-color: #a163f9;
}

select .select-label {
    position: absolute;
    left: 10px;
    top: 19px;
    color: white;
    font-size: 14px;
}

select:hover .select-label {
    color: #a163f9;
}

select:focus .select-label {
    color: #a163f9;
}


select .option-drop-box {
    width: 50px;
    min-width: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

select .option-drop-box .option-drop-icon {
    color: white;
    font-size: 14px;
}

.option-drop-box .option-drop-icon:hover {
    color: #a163f9;
}

.option-drop-box .option-drop-icon:focus {
    color: #a163f9;
}

select .option-selected {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding-left: 15px;
    flex-grow: 1;
    border-radius: 5px 0;
}

select .option-selected .option-sel-text {
    color: white;
    font-size: 14px;
}

select .choice-content-box {
    position: absolute;
    width: 100%;
    min-height: 50px;
    max-height: 150px;
    top: 55px;
    box-shadow: 0 0 3px 3px #303033;
    border-radius: 0 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

select .choice-content-box .choice-option {
    width: 100%;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    flex-grow: 1;
    background: white;
}

select .choice-content-box .choice-option .option-text {
    color: rgb(50, 52, 54);
    font-size: 14px;
}


select .choice-content-box .choice-option:hover {
    background: #a163f9;
}


select .choice-content-box .choice-option .option-text:hover {
    color: white;
}

select .choice-content-box .choice-option:checked {
    background: #a163f9;
}

select .choice-content-box .choice-option .option-text:checked {
    color: white;
}

/* Slider */
slider {
    width: 250px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

slider .slider-track {
    width: 100%;
    height: 10px;
    background: #fcfcfc;
    border-radius: 5px;
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: start;
    align-items: center;
}

slider .slider-track .track-fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: #a163f9;
    border-radius: 5px;
}

slider .slider-track .thumb {
    width: 16px;
    height: 16px;
    background: #fcfcfc;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 3px 3px #303033;
}
