/* Button */

button {
    background: #bcbcbc;
    width: 140px;
    height: 45px;
    border-radius: 6px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background: #a9a9a9;
}

button .button-text {
    color: #303039;
}

/* CheckBox */

checkbox {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

checkbox .mark-box {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 2px white;
}

checkbox .mark-box .mark {
    color: #ffffff;
    width: 16px;
    height: 16px;
}

checkbox:checked .mark-box {
    border-color: #a163f9;
    background: #a163f9;
}

checkbox .check-text {
    font-size: 13px;
}

/* Headline */

h1 {
    font-size: 48px;
    font-weight: 600;
    color: #000000;
    margin: 16px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin: 16px;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    margin: 16px;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    margin: 16px;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin: 16px;
}

h6 {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin: 16px;
}

/* Input Fields */

input {
    width: 350px;
    height: 55px;
    border-radius: 5px;
    border: 2px white;
}

input:hover {
    border-color: #a163f9;
}

input:focus {
    border-color: #a163f9;
}

input .input-label {
    position: absolute;
    left: 10px;
    top: 19px;
    font-size: 14px;
}

input .in-icon-container {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-icon-container .in-icon {
    font-size: 16px;
}

input .in-text-container {
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left: 10px;
}

input:hover .input-label {
    color: #a163f9;
}

input:focus .input-label {
    color: #a163f9;
}

input .in-text-container .input-text {
    font-size: 15px;
    width: 100%;
    text-wrap: nowrap;
}

input .in-text-container .input-cursor {
    width: 2px;
    height: 20px;
    background: white;
}

/* Paragraph */
p {
    margin: 8px;
    font-size: 12px;
    color: #000000;
}