body {
    background: #303039;
    width: 100%;
    height: 100%;
}

.test {
    background: #59cc59;
    width: 100px;
    height: 100px;
}

.test2 {
    background: #5656ff;
    width: 200px;
    height: 300px;
}