:root {
    --background: #222426;
}

body {
    background: var(--background);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.display-container {
    background: var(--background);
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    overflow: scroll;
}

.display-center {
    background: rgba(255, 215, 196, 0.07);
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


