body {
    background: #303039;
    width: 100%;
    height: 100%;
}

.test {
    background: #59cc59;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.test2 {
    background: #5656ff;
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.test3 {
    width: 128px;
    height: 128px;
}

.test4 {
    background: #4e7b9f;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.test5 {
    background: #ff5656;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
