body {
    background: #303039;
    width: 100%;
    height: 100%;
}

.test {
    background: #59cc59;
    width: 175px;
    height: 100px;
}

.test2 {
    background: #5656ff;
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}