:root {
    --background: #222426;
}

body {
    background: var(--background);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.display-container {
    background: var(--background);
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    overflow: scroll;
}

.display-center {
    background: rgba(255, 215, 196, 0.07);
    width: 250px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-scroll {
    background: rgba(255, 215, 196, 0.07);
    width: 250px;
    height: 125px;
    display: flex;
    overflow: scroll;
    justify-content: start;
    align-items: start;
}

.field-order {
    flex-direction: column;
}

.field-order radio {
    flex-direction: row;
    justify-content: start;
}

.field-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
}

#fn_q_key {
    z-index: 2;
    animation: button-pulse 5.0s ease-in-out infinite alternate;
}

#fn_q_key:hover {
    z-index: 2;
    animation: btn-h 1.4s ease-in-out infinite alternate;
}

@keyframes button-pulse {
    0% {
        transform: scale(1) rotate(0deg);
        background-color: #4c8bf5;
    }
    25% {
        transform: scale(1.05) rotate(90deg);
        background-color: #72a1ff;
    }
    50% {
        transform: scale(1) rotate(180deg);
        background-color: #4c8bf5;
    }
    75% {
        transform: scale(1.05) rotate(270deg);
        background-color: #72a1ff;
    }
    100% {
        transform: scale(1) rotate(360deg);
        background-color: #4c8bf5;
    }
}

@keyframes btn-h {
    0% {
        transform: scale(1);
        background-color: #4c8bf5;
    }
    100% {
        transform: scale(1.05);
        background-color: #72a1ff;
    }
}