body {
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(100, 0, 200, 0.3);
    justify-content: center;
    align-items: start;
    pointer-events: none;
}

h1 {
    pointer-events: none;
}