body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}

* {
  color: black;
  font-size: 30px;
}

h1 {
  color: red;
}
